/* font-family: 'Roboto', sans-serif; */

:root {
  --background:  #515138;
  --board:  #7c846a;
  --card: #c0996d;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  margin: 100px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

/* ------- board ------- */

.board {
  background-color: var(--board);
  height: 500px;
  width: 300px;
  padding: 12px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.board h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 12px;
}

/* ------- cartão ------- */

.card {
  background-color: var(--card);
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

/* ------- drapzone ------- */

.highlight {
  border-radius: 10px;
  background-color: #6f6f5a;
}

.is-dragging{
  cursor: move;
  /* opacity: .3; */
}

.over {
  background-color: #db9163;
}

.dropzone {
  min-height: 375px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}

/* ------- botão de adicionar card ------- */

.add {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  justify-content: flex-end;
}

.botao-add {
  background-color: var(--board);
  cursor: pointer;
  font-size: 15px;
  border: none;

  display: flex;
  justify-content: center;
  align-content: flex-end;

  padding: 6px;
  margin: 6px 6px;
}

.botao-add:hover {
  background-color: #757c65;
  border-radius: 10px;
  padding: 6px;
  margin: 6px 6px;
}

.botao:active {
  background-color: #db9163;
  border-radius: 10px;
  padding: 6px;
  margin: 6px 6px;
}

.texto {
  border-radius: 10px;
  padding: 6px;
  border: none;
  margin: 0 6px;
}
