/* font-family: 'Poiret One', cursive; */

body {
  font-family: 'Poiret One', cursive;
  background-color: #515138;
  margin: 100px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.board {
  background-color: #7c846a;
  height: 500px;
  width: 300px;
  padding: 12px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.board h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.card {
  background-color: #c0996d;
  border: #c9a071 solid 1px;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

.highlight {
  border-radius: 10px;
  background-color: #6f6f5a;
}

.is-dragging{
  cursor: move;
  opacity: .3;
}

.over {
  background-color: #db9163;
}

.dropzone {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}